{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container px-4 py-5 text-center" id="icon-grid">
    <h2 class="pb-2 border-bottom">О Нас</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0 py-2">Цель проекта?</h4>
          <p>Создать удобный магазин с доступными ценами.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0 py-2">Кто мы?</h4>
          <p>Весь магазин написал один программист, но под руководством опытных ревьюеров и лекторов.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0 py-2">Почему вы должны выбрать именно нас?</h4>
          <p>Красота, удобство, низкие цены и лаконичность.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0 py-2">Что за котик?</h4>
          <p>Это замурчательный котик, который будет сопровождать вас на страницах нашего магазина.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0 py-2">Как мы добиваемся таких цен?</h4>
          <p>Только оптовые заказы, минимизация логистических затрат и оптимизация всех процессов.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0 py-2">А ваши товары качественные?</h4>
          <p>Персональный отбор каждого продавца и быстрый возврат бракованного товара гарантирует вам лучший товар на рынке.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0 py-2">Гарантии?</h4>
          <p>Отзывы наших клиентов и круглосуточная работа на территории всей России</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0 py-2">Что ещё?</h4>
          <p>А что нужно ещё? Скорее бегите и покупайте все по лучшим ценам, и не забудьте котика погладить!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
