{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'img/logo.png' %}" alt="" width="230" height=200>
    <h1 class="display-5 fw-bold">KittyShop</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">KittyShop самый популярный и быстрорастущий маркетплейс в России. Низкие цены, только качественные товары и быстрая доставка ждёт вас в нашем магазине. Скажи "мяу" качественному магазину!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    </div>
    <h2>Лидеры продаж:</h2>
    {% for item in items%}
      {% include 'includes/card.html' %}
      <br>
    {% endfor %}
  </div>
{% endblock %}
