<div class="border rounded p-3 mt-2 w-75 mx-auto">
  <h4>Дни рождения у пользователей сегодня:</h4>
  <div class="container d-flex flex-wrap justify-content-around">
    {% for profile in births %}
      <a href="{% url 'users:user_detail' profile.user.id %}" class="text-decoration-none">
        <div class="alert alert-dark">
          {{ profile.user.first_name }}
          <div class="badge text-bg-warning">
            {{ profile.user.email }}
          </div>
        </div>
      </a>
    {% empty %}
      <h5>Сегодня ни у кого нет дня рождения...</h5>
    {% endfor %}
  </div>
</div>
