{% load static %}
{% load i18n %}

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {% with request.resolver_match.view_name as view_name %}
        <li>
          <a href="{% url 'homepage:home' %}" class="nav-link px-2 text-secondary {% if view_name == 'homepage:home' %} text-white {% endif %}">{% translate 'Главная' %}</a>
        </li>
        <li>
          <a href="{% url 'catalog:item_list' %}" class="nav-link px-2 text-secondary {% if view_name == 'catalog:item_list' %} text-white {% endif %}">{% translate 'Список товаров' %}</a>
        </li>
        <li>
          <a href="{% url 'about:description' %}" class="nav-link px-2 text-secondary {% if view_name == 'about:description' %} text-white {% endif %}">{% translate 'О проекте' %}</a>
        </li>
        {% endwith %}
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Войти</button>
        <button type="button" class="btn btn-warning">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</header>