/* Product card */
.product-card:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-price {
	font-size: 18px;
	color: #ee6e73;
	font-weight: 600;
}

.product-price small {
	color: #ccc;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
}

#left_text {
  float:left;
  color: #728461;
  font-family: Verdana;
  font-size: 18px;
  font-weight: normal;
}
/* Product card */