{% extends 'base.html' %}

{% block title %}
  <title>Профиль</title>
{% endblock %}

{% block content %}
  <h1 class="text-center">Профиль</h1>
  {% include 'users/includes/user_card.html' %}
  <br>
  {% include 'users/includes/form_with_buttons.html' %}
  <br>
  <div class="col text-center">
    <a href="{% url 'homepage:coffee' %}" class="btn btn-success mx-sm-3 w-25">Выпить кофе</a>
  </div>
  <br>
  <div class="col text-center">
    <a href="{% url 'stats:short_user' %}" class="btn btn-success mx-sm-3 w-25">Посмотреть краткую статистику оценок</a>
  </div>
  <br>
  <div class="col text-center">
    <a href="{% url 'stats:user_rated_items_list' request.user.id %}" class="btn btn-success mx-sm-3 w-25">Посмотреть все оценённые товары</a>
  </div>
{% endblock %}
