{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="row">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden col">
      <div class="my-3 py-3">
        <h2 class="display-5">{{ item.name }}</h2>
      </div>
      <div class="card border-0 text-center">
        <a><img src="{{ item.mainimage.get_image.url }}"  alt=""></a>
        <div class="card-body">
          <a class="btn btn-dark" href="{% url 'download:download_image' item.mainimage.image.url %}">Скачать картинку</a>
        </div>
      </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col">
      <div class="my-3 p-3">
        <h2 class="display-5">Категория: {{ item.category.name }}</h2>
      </div>
       <div class="card border-0 text-center bg-light box-shadow mx-auto" style="width: 80%; height: auto; border-radius: 21px 21px 0 0;">
         <p>{{ item.text|safe }}</p>
         <div class="card-body">
           Теги:
           {% for tag in item.tags.all %}
             <p class="badge rounded-pill text-bg-warning">{{ tag.name }}</p>
           {% empty %}
             Отсутствуют
           {% endfor %}
         </div>
      </div>
    </div>
  </div>
  <div class="align-self-center p-2">
    <h3>Фотогалерея товара</h3>
    <div class="row row-cols-3">
      {% for galleryimage in gallery %}
        <div class="col-sm-6 mb-3">
          <div class="card border-0 text-center">
            <img src="{{ galleryimage.get_image.url }}">
            <div class="card-body">
              <a class="btn btn-dark" href="{% url 'download:download_image' galleryimage.image.url %}">Скачать!</a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="align-self-center p-2">
          <p>Фотографий ещё нет</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="align-self-center">
    <p>Рейтинг: {{ rating }}. ({{ count_marks }} оценок)</p>
    {% if request.user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      <p>
      {{ mark_form.as_p }}
      </p>
      <div class="col text-center">
        <button type="submit" class="btn btn-dark mx-sm-3">Поставить отметку</button>
      </div>
    </form>
    {% endif %}
  </div>
{% endblock %}
